@font-face {
    font-family: 'Lato', sans-serif;
    src: url('../fonts/Lato-Regular.ttf') format('ttf'), url('../fonts/Lato-Regular.ttf') format('ttf');
    font-weight: 400;
    font-display: swap;
}