@media (max-width: 960px) {
    .header {
        &__menu {
            &-btn {
                display: block;
            }
            &>ul {
                display: none;
                position: absolute;
                top: 120px;
                left: 0;
                right: 0;
                width: 100%;
                z-index: 2;
                background-color: #fff;
                border-bottom: 5px solid #2aacc8;
            }
            & li {
                display: block;
                text-align: center;
                &+li {
                    margin-left: 0;
                    & a {
                        border-top: 1px solid #e7e7e7;
                    }
                }
            }
            & a {
                padding: 12px 0 12px 11px;
                font-weight: 400;
                display: block;
                text-transform: none;
            }
        }
        &__drop-down {
            &>a.active::after {
                transform: rotate(180deg);
            }
            &.drop-down {
                margin-left: 0;
                &+& {
                    margin-left: 0;
                }
                &+.header__link-blog {
                    margin-left: 0;
                }
                &:hover {
                    color: #000;
                    border-top: 0px solid #2aacc8;
                    background-color: #fff;
                    transition: all .5s;
                    &>a {
                        color: #000;
                        border-top: 1px solid #e7e7e7;
                        background-color: #fff;
                        transition: all 0s;
                    }
                    & .drop-down__list {
                        height: 0;
                        overflow: hidden;
                        opacity: 0;
                        transition: all .5s;
                        position: static;
                        width: 100%;
                        padding: 0;
                        border-bottom: none;
                    }
                    & .active {
                        height: auto;
                        overflow: visible;
                        opacity: 1;
                        transition: all .5s;
                    }
                }
            }
        }
    }
    .items__inner {
        flex-wrap: wrap;
    }
    .item {
        width: 50%;
        margin-bottom: 20px;
    }
}

@media(max-width: 900px) {
    .clients-logo {
        padding-left: 15px;
    }
    .download__btn {
        padding-left: 15px;
    }
    .item {
        padding-right: 15px;
    }
    .footer__inner {
        flex-wrap: wrap;
    }
    .footer__item-social {
        width: 60%;
        margin-top: 20px;
    }
}

@media(max-width: 780px) {
    .clients__inner {
        flex-wrap: wrap;
    }
    .testomonials {
        width: 100%;
    }
    .clients-logo {
        padding-left: 0;
        margin: 0 auto;
    }
}

@media(max-width: 720px) {
    .footer__item-content {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media(max-width: 670px) {
    .download {
        flex-wrap: wrap;
    }
    .download__btn {
        padding-left: 0;
        margin: 30px auto 0;
    }
    .clients-logo__images img {
        max-width: 100%;
    }
    .footer__item-social {
        width: 1000%;
    }
}

@media(max-width: 520px) {
    .item {
        width: 100%;
    }
}

@media(max-width: 440px) {
    .footer__item-contact {
        width: 100%;
        margin-top: 20px;
    }
    .footer__inner {
        justify-content: flex-start;
    }
}

@media(max-width: 420px) {
    .slider__item-title {
        font-size: 40px;
        line-height: 45px;
        margin-left: 20px;
    }
    .footer__copy {
        padding-right: 0;
        margin-bottom: 20px;
    }
    .footer__bottom {
        flex-wrap: wrap;
    }
}

@media(max-width: 360px) {
    ul.footer__social li {
        width: 1/3*100%;
    }
}

@media(min-width: 960px) {
    .header__menu>ul {
        display: block !important;
    }
}