@import 'global';
@import 'fonts';
.header {
    background-color: #e8ebf1;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.07);
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }
}

.header__menu {
    margin-right: 20px;
    li+li {
        margin-left: 50px;
    }
    a {
        font-family: 'arial', sans-serif;
        font-weight: 700;
        font-size: 13px;
        line-height: 20px;
        text-transform: uppercase;
        padding-top: 9px;
        padding-bottom: 13px;
    }
}

.drop-down {
    &__list {
        height: 0;
        overflow: hidden;
        opacity: 0;
        position: absolute;
        width: 200px;
        background-color: #fff;
        border: 1px solid rgb(232, 235, 241);
        border-bottom: 5px solid #2aacc8;
        border-top: none;
        box-shadow: 0px 5px 0px 0px rgba(42, 172, 200, 0.004);
        padding: 10px 5px;
        z-index: 1;
        & a {
            padding: 12px 0 12px 11px;
            font-weight: 400;
            display: block;
            text-transform: none;
            &:hover {
                color: #2aacc8;
            }
        }
        & li+li a {
            border-top: 1px solid #e7e7e7;
        }
        &:hover {
            height: auto;
            overflow: visible;
            opacity: 1;
            &.drop-down__list {
                height: auto;
                overflow: visible;
                opacity: 1;
            }
        }
    }
}

.header__drop-down {
    position: relative;
    &.drop-down {
        margin-left: 39px;
        &+& {
            margin-left: 12px;
        }
        &+.header__link-blog {
            margin-left: 20px;
        }
        &:hover {
            transition: all .5s;
            &.drop-down__list {
                height: auto;
                overflow: visible;
                opacity: 1;
            }
            &>a {
                color: #2aacc8;
                border-top: 5px solid #2aacc8;
                background-color: #fff;
            }
        }
    }
    &>a {
        position: relative;
        padding-left: 11px;
        padding-right: 26px;
        border-top: 5px solid transparent;
        &::after {
            content: "";
            position: absolute;
            background-image: url(../images/down_arrow.png);
            width: 7px;
            height: 5px;
            right: 8px;
            top: 15px;
        }
        &:hover {
            &+.drop-down__list {
                height: auto;
                overflow: visible;
                opacity: 1;
                transition: all .5s;
            }
        }
    }
}

.header__drop-down .drop-down__list li {
    margin-left: 0;
    display: block;
}

.slider {
    background-color: #81e4ed;
    padding: 20px 0px 10px;
    &__item {
        background-image: url(../images/slider-bg.jpg);
        min-height: 440px;
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        &-title {
            font-family: 'arial', sans-serif;
            font-size: 50px;
            color: #fff;
            width: 330px;
            margin-left: 60px;
            font-weight: 700;
            line-height: 55px;
            padding-top: 90px;
        }
    }
}

.slick-dots li {
    margin: 0 9px;
    width: auto;
    height: auto;
    &.slick-active button {
        background-color: #fff;
    }
    & button {
        width: 14px;
        height: 14px;
        background-color: rgba($color: #626262, $alpha: 0.5);
        border-radius: 50%;
        &::before {
            display: none;
        }
    }
}

.items {
    background-color: #e8ebf1;
    padding: 60px 0px 50px;
    border-bottom: 1px solid #d9d9d9;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}

.item {
    width: 225px;
    font-family: 'arial', sans-serif;
    &__title {
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;
        padding: 10px 0px 0px 60px;
        margin-bottom: 30px;
        position: relative;
    }
    &__icons {
        position: absolute;
        width: 40px;
        height: 40px;
        background: #2aacc8;
        border-radius: 50%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__text {
        font-size: 13px;
        color: #363636;
        margin-bottom: 25px;
    }
    &__link {
        color: #2aacc8;
        padding-left: 15px;
        font-size: 13px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            background-image: url(../images/icons/arrow.svg);
            left: 0;
            width: 5px;
            height: 7px;
            top: 5px;
        }
    }
}

.telegram-icons {
    margin-left: 5px;
}

.works__title,
.testimonials__title,
.clients-logo__title {
    padding: 25px 0px 15px 40px;
    position: relative;
    font-family: 'arial', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 20px;
        background-image: url(../images/slider/cursor.svg);
        width: 14px;
        height: 23px;
    }
}

.works {
    &__inner {
        padding: 20px 0 40px;
        border-top: 1px solid #dfe1e5;
        border-bottom: 1px solid #dfe1e5;
        &-item {
            text-align: center;
        }
        &-box {
            display: inline-block;
            position: relative;
            &:hover {
                & .works__inner-link {
                    height: 80px;
                }
            }
        }
        &-link {
            background-color: #81e4ed;
            height: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;
            width: 100%;
            overflow: hidden;
            transition: all .5s;
            & a {
                margin: 0px 15px;
            }
        }
    }
}

.slick {
    &-arrow {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #81e4ed;
        &::before {
            display: none;
        }
        &:hover {
            background-color: #81e4ed;
        }
        &:focus {
            background-color: #81e4ed;
        }
    }
    &-prev {
        right: 31px;
        top: -27px;
        left: auto;
    }
    &-next {
        top: -27px;
        right: 0;
    }
}

.clients {
    padding: 0px 0px 40px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &-logo__title::before {
        background-image: url(../images/clients/clients.svg);
        width: 24px;
        height: 20px;
    }
}

.testimonials {
    max-width: 440px;
    &__title {
        &::before {
            background-image: url(../images/clients/comments.svg);
            width: 24px;
            height: 23px;
        }
    }
    & p {
        font-size: 14px;
        line-height: 24px;
        color: #363636;
    }
    & span {
        display: block;
        padding-top: 30px;
        font-style: italic;
        font-weight: 700;
    }
}

.download {
    margin-top: 40px;
    padding: 30px 40px 30px 30px;
    border: 1px solid #81e4ed;
    background-color: #e8fcfe;
    display: flex;
    justify-content: space-between;
    &__text {
        font-size: 16px;
        line-height: 26px;
        color: #363636;
        max-width: 620px;
    }
    &__btn a {
        padding: 20px 20px 20px 70px;
        border: 1px solid rgb(42, 172, 200);
        border-radius: 8px;
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.1);
        background: linear-gradient(0deg, rgb(42, 172, 200) 0%, rgb(96, 206, 222) 15%, rgb(114, 218, 230) 50%, rgb(129, 228, 237) 100%);
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            background-image: url(../images/clients/download.svg);
            width: 28px;
            height: 25px;
            left: 19px;
            top: 16px;
        }
    }
}

.footer {
    background-color: #e8ebf1;
    padding-top: 30px;
    padding-bottom: 40px;
    border-top: 1px solid #d9d9d9;
    font-family: 'arial', sans-serif;
    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
    }
    &__item {
        &-content {
            width: 240px;
        }
        &-title {
            font-weight: 700;
            text-transform: uppercase;
        }
        &-list {
            width: 115px;
        }
        &-contact {
            width: 150px;
        }
        &-social {
            width: 185px;
        }
        &-text {
            padding-top: 25px;
            font-size: 14px;
            color: #363636;
        }
    }
    &__list {
        padding-top: 10px;
        & li {
            display: block;
        }
        & a {
            color: #363636;
            font-size: 14px;
            line-height: 26px;
        }
    }
    &__adress {
        padding-top: 25px;
        color: #363636;
        font-size: 14px;
        margin-bottom: 16px;
        & span {
            display: block;
            font-weight: 700;
        }
    }
    &__phone {
        color: #363636;
        font-size: 14px;
    }
    &__social {
        padding-top: 25px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
    }
    &__copy {
        font-size: 13px;
        line-height: 18px;
        color: #363636;
        max-width: 650px;
    }
}